.app_dark_theme {
  --bg-color: #c71899;
  --inverted-bg-color: #fbf4f9;
  --primary-color: #f8c4e4;
  --secondary-color: #c71899;
  --inverted-primary-color: #7614a3;
  --inverted-secondary-color: #3e0c57;
}
