.app_dark_theme {
  --bg-color: #c71899;
  --inverted-bg-color: #fbf4f9;
  --primary-color: #f8c4e4;
  --secondary-color: #fa85db;
  --inverted-primary-color: #7614a3;
  --inverted-secondary-color: #3e0c57;

  // skeleton
  --skeleton-color: #f134b959;
  --skeleton-shadow: #e954c0;

  // code
  --code-bg: #c3429f;
}
