.app_green_theme {
  --bg-color: #85b828;
  --inverted-bg-color: #f8fbf4;
  --primary-color: #504111;
  --secondary-color: #977b21;
  --inverted-primary-color: #4c6b16;
  --inverted-secondary-color: #2c3d09;

  // skeleton
  --skeleton-color: #96cb36ba;
  --skeleton-shadow: #b0ff28;

  // code
  --code-bg: #96b75b;

  // card
  --card-bg: #7dae28;
}
