.app_light_theme {
  --bg-color: #fbf4f9;
  --inverted-bg-color: #c71899;
  --primary-color: #3e0c57;
  --secondary-color: #7614a3;
  --inverted-primary-color: #fbf4f9;
  --inverted-secondary-color: #f8e2f0;
}
